:root {
  --color-white: #ffffff;
  --color-black: #24262A;
  --color-gray: #C1BFCC;
  --color-gray-1: #F1F2F8;
  --color-gray-2: #EEF1FB;
  --color-blue: #6D02F9;
  --color-blue-50: rgba(109, 2, 249, 0.5);
  --color-blue-30: rgba(109, 2, 249, 0.3);
  --color-yellow: #FABE07;
  --color-yellow-30: rgba(250, 189, 7, 0.3);
  --color-orange: #FB7848;
  --color-orange-30: rgba(251, 120, 72, 0.3);
  --color-light-green: #7CD7B8;
  --color-light-green-30: rgba(124, 215, 185, 0.3);
  --color-light-brown: #DAAAAE;
  --color-light-brown-40: rgba(218, 170, 174, 0.4);
  --color-light-brown-30: rgba(218, 170, 174, 0.3);
}